/* src/components/styles/BaseLayout.css */

.layout {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  background-color: #f3f4f6;
  transition: margin-left 0.3s ease;
}

.page-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .main-content {
      margin-left: 0;
  }
}